<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<h1>Let's Get Started</h1>
<label for="firstname">Enter Title for new data capture:</label>
{% with messages = get_flashed_messages() %}  
{% if messages %}  
      {% for message in messages %}  
           <p>{{ message }}</p>  
      {% endfor %}  
{% endif %}  
{% endwith %}  
<form action="create">
    <label for="url">Enter Data name</label>
    <input type="text" name="url1" value="" required>
    <input type="submit" value="Submit">

</form>
<form action="take_firstPic">
    <input type="submit" value="Start">
</form>
<h1> Live Video Streaming </h1> 
<img src={{currentSnap}}> 




<button onclick="window.location='http://0.0.0.0:5000/'">Image Browser</button>
<form action="browser">
    <input type="submit" value="File Browser">
</form>
<button onclick="window.location='http://0.0.0.0:5000/about'">Ramu's Page</button>
</body>
</html>